<h2>Productos de limpieza</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Descripción</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productsList">
        <th scope="row">{{producto.id}}</th>
        <td>{{producto.name}}</td>
        <td [ngClass]="{'red-color': producto.price > 5}">{{producto.price | currency}}</td>
        <td>{{producto.description}}</td>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', producto.id]">Detalle</button>
      </tr>
    </tbody>
  </table>